body{
    margin: 0;
   
  
}
main{

    width: 100%;
    height: 953px;
  
    background: url("images/pay.png")fixed center center/100% 100% no-repeat;
    font-size: 1.3rem;
    display: flex;
    justify-content: center;
    align-items: center;
   
}

.container{
    background:rgb(240, 241, 239);
    opacity: 95%;
    width: 750px;
    height: 550px;
   
   
    padding: 1rem 3rem;
    border-radius: 4%;

    
}
.left,
.right {
    width: 80%; /* Set the width of each container */
}

form{

    padding: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
    width: 100%;
    
}
input {
    width: 12rem;
    margin: 0 auto 2rem;
} 

form input[type="text"]{

    width: 100%;
    padding: 0.7rem 0.7rem;
    margin: 0.5rem 0;
    outline: none;
    
}

form input[type="email"]{

    width: 100%;
    padding: 0.5rem 0.7rem;
    margin: 0.5rem 0;
    outline: none;
    
}
.state{
    
    width: 125px;

}

#Pin-code{

    display: flex;
    margin-top: 0.5rem;
  
}
.sec1{

    margin-left: 80px;
     
}
.sec1 input {
    height: 20px;
    margin:  0.5rem 0;
}
.sec2{

    margin-left: 30px;
}
.sec2 input {
    height: 20px;
    margin:  0.5rem 0;
}

#Pin-code select{
    padding: 0.5rem 0.7rem;
    margin:  0.5rem 0;
    height: 40px;
   
}
#Pin-code input[type="number"]{

    padding: 0.5rem 0.7rem;

    
}
.right img{
       width: 100%;
       height: 60px;
}

.btn {
    background-color: #0b5ed7;
    border: none;
    color: rgb(253, 249, 249);
    padding: 15px 20px;
    text-align: center;
    text-decoration: none;
    width: 200px;
    font-size: 20px;
    margin: 40px 250px;
    cursor: pointer;
    border-radius: 30px;
} 

.btn:active,
.btn:hover {
    color: #fff;
    background-color: #4086f0;
    border-color: #0a58ca;
}




