/* rules for the body */

body {
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
  margin: 0;
  height: 2500px;
}
  
.title {
  font-family: 'Times New Roman', Times, serif;
}
  
a {
  color: white;
  text-decoration: none;
  transition: 0.3s;
}
  
a:hover {
  color: rgb(0, 0, 0);
  text-shadow: 1px 1px magenta;
}
  
h1,
h2,
h3 {
  font-weight: 100;
}
  
/* rules for the main container */
  
.main-container {
  position: relative;
}
  
/* rules for the catalogue page header */
  
.header {
  background-color: #bb6b6b;
  color: #ffffff;
  padding: 20px ;
  display: flex;
  align-items: center;
  font-weight: bold;
    
}
  
.header-left {
  display: flex;
  align-items: center;
  font-size: 25px;
}
.header-left {
  flex: 1;
  justify-content: left;
  margin-left: 30px;
  
}
.center{
  display: flex;


  
}
.search-bar{
  width: 100%;
  max-width: 400px;
  height: 30px;
  background: rgba(12, 2, 2, 0.2);
  display: flex;
  border-radius: 40px;
  padding: 10px 20px;
  margin-top: 80px;
  margin-bottom: 10px;
  margin-left: 220px;

}
.search-bar input{
  background: transparent;
  flex: 1;
  border: 0;
  outline: none;
  
  font-size: 20px;
  color: #cac7ff; 
}

::placeholder{
  color: rgba(0, 0, 0, 0.603);
}

.search-bar button img{
  width: 25px;

}

.search-bar button{
  border: 0;
  border-radius: 50%;
  width: 38px;
  height: 35px;
  background: #8c98db ;
  cursor: pointer;
}

.category{
  
  align-items: center;
  margin-top: 85px;
  margin-left: 430px;
 
}
.category form{
  font-size: 22px;
}
.category select, .category option{
  font-size: 20px;
}




.header-right {
  margin-right: 30px;
}
.button {
  background-color: #ff8965;
  border: none;
  color: rgb(253, 249, 249);
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 20px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 30px;
}


  .flowers-catalogue {
    position: relative;
    color: black;
    background-color: #bb6b6ba2;
    width: 100%;
    height: 2500px;
  }
  
  .page-header {
    color: black;
    margin-left: 150px;
    font-size: 1.8rem;
    
  }
/* ----------price slider---------- */
.slider-container {
  width: 100%;
}

  
  input[type="range"] {
    width: 80%;
    height: 5px;
    margin-left: 40px;
    background: #d3d3d3;
    outline: none;
    
  }
  
  input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 20px;
    height: 20px;
    background: #4caf50;
    cursor: pointer;
    border-radius: 50%;
  }
  
  #priceValue {
    display: block;
    text-align: center;
    margin-top: 10px;
  }
  .funnel {
    display: none;
    position: relative;
    text-align: center;
    top: 2rem;
    width: 85%;
    font-size: 1.2rem;
    padding: 0.7rem 0;
    margin: 0 auto;
    color: #55bf00;
    border: 1px solid #55bf00;
    border-radius: 0.3rem;
  }
  
  .main-box {
    display: flex;
    align-items: start;
    position: relative;
    height: 1700px;
    width: 85%;
    margin: 0 auto;
  }
  
  /* rules for the filter box */
  
  .filter-box {
    flex: 1;
    background-color:  #f3e0e0ec;
    border: 1px solid whitesmoke;
    margin-right: 2rem;
    border-radius: 0.3rem;
  }
  
  .filter-box span {
    display: block;
    font-size: 1.2rem;
    font-weight: 600;
    margin: 1rem;
  }
  

  .price-slider-frame {
    margin: 0 1rem;
    cursor: pointer;
  }
  
  .price-slider-frame img {
    width: 100%;
    height: auto;
  }
  
  .price-limits {
    display: flex;
    justify-content: space-between;
    margin: 0.3rem 1rem;
  }
  
  .limit {
    width: 5rem;
    font-size: 1rem;
    padding: 0.3rem;
    margin: 0;
    border: 2px solid #55bf00;
    border-radius: 0.4rem;
  }
  
  .color-picker {
    display: flex;
    justify-content: start;
    margin: 0.3rem 1rem;
  }
  
  .color-container {
    color: white;
  
    width: 2.3rem;
  }
  
  .color {
    display: inline-block;
    width: 1rem;
    font-size: 1rem;
    padding: 0.3rem;
    border-radius: 1rem;
    cursor: pointer;
  }
  
  .color1 { background: #bd4855; }
  .color2 { background: #d49315; }
  .color3 { background: #a833b9; }
  .color4 { background: #df5fa7; }
  .color5 { background: #5faddf; }
  
  .event,
  .for-whom {
    display: inline-block;
    width: 80%;
    margin: 0.2rem 1rem;
  }
  
  .event span,
  .for-whom span {
    display: inline-block;
    font-size: 1rem;
    font-weight: 100;
    margin: 0 0 0 0.8rem;
  }
  
  .checkmark {
    display: inline-block;
    font-size: 0.7rem;
    padding: 0.1rem;
    color: white;
    border: 1px solid #55bf00;
    border-radius: 0.1rem;
    cursor: pointer;
  }
  
  .event1 .checkmark,
  .for-whom1 .checkmark {
    color: black;
  }
  
  .show-btn {
    text-align: center;
    color: white;
    font-size: 1.1rem;
    background-color: #d8055a;
    padding: 0.6rem;
    border: none;
    border-radius: 2rem;
    margin: 1.5rem 1rem 1rem 1rem;
    cursor: pointer;
  }
  
  /* rules for the results box */
  
  .results-box {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    flex: 3;
    background-color: white;
    padding: 10px;
    border-radius: 2rem;
   
  
  }
  
  .result {
    background-color: #86797933;
    border: 1px solid whitesmoke;
    width: 31%;
    border-radius: 2rem;
   
  }
  
  .result1 { margin: 0 0.25rem 0.5rem 0.25rem; }
  .result2 { margin: 0 0.25rem 0.5rem 0.25rem; }
  .result3 { margin: 0 0.25rem 0.5rem 0.25rem; }
  .result4 {margin: 0 0.25rem 0.5rem 0.25rem; }
  .result5 {margin: 0 0.25rem 0.5rem 0.25rem; }
  .result6 { margin: 0 0.25rem 0.5rem 0.25rem;}
  
  .result i {
    display: inline-block;
    margin: 0 1rem;
    font-size: 0.9rem;
    color: #d8055a;
    cursor: pointer;
    padding: 10px 2px;
  }
  
  .img-frame {
    position: relative;
    width: 55%;
    margin: 0 auto;
  }
  
  .result img {
    position: relative;
    bottom: 0;
    width: 100%;
    height: auto;
  }
  
  .quantity {
    margin: 0.3rem 1rem 0.3rem 1rem;
  }
  
  .result label {
    display: inline-block;
    font-size: 0.7rem;
    font-weight: 600;
    padding: 0.3rem 0.7vw 0.3rem 0.5vw;
    border: 1px solid lightgray;
    border-radius: 1rem;
    transition: all 0.3s;
  }
  
  .result input[type="radio"] {
    display: none;
  }
  
  .result input[type="radio"]:checked + label {
    border: 2px solid #55bf00;
  }
  
  .result span {
    display: block;
    font-weight: 600;
    margin: 0.4rem 1rem 0.6rem 1rem;
  }
  

  .price-span i {
    font-size: 1rem;
    margin: 0;
  }
  
  
  
  /* rules for the footer */


.container3 {
  max-width: 1100px;
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
  margin-top: 100px;
  }
  
  
  .row {
  display: flex;
  
  }
  
  .zone {
  flex: 0 0 33.333333%;
  
  }
  
  .zone2 {
  margin-left: 400px;
  margin-top: 20px;
  
  }
  
  
  .footer_section{
  width: 100%;
  height: 500px;
  float: left;
  background-color: #1d1d1d;
    
  padding: 90px 0px;
  }
  
  .location_main{
    width: 100%;
    display: flex;
    gap:20px;
  }
  
  .location_text {
    width: 100%;
  }
  
  .location_text a{
    float: left;
    font-size: 16px;
    color: #fefefd;
    padding: 20px 20px;
    border: 1px solid #f5a738;
    width: 240px;
    margin-left: -10px;
    text-align: center;
    
  }
  .location_text a:hover {
    color: #fefefd;
    background-color: #f5a738;
  }
  
  
  
  .footer_section_2 {
    width: 100%;
    float: left;
    margin-top: 40px;
    
  }
  
  .footer_text{
    width: 100%;
    float: left;
    font-size: 30px;
    color: #ffffff; 
  
  }
  
  .lorem_text{
    width: 80%;
    float: left; 
    font-size: 16px;
    color: #bbbbbb;
    margin-left: 0px;   
  }
  
  .social_icon {
    width: 100%;
    float: left;
  }
  
  .social_icon ul {
    margin: 0px;
    padding: 0px;
    display: inline-block;
  }
  
  .social_icon li {
    float: left;
    list-style-type: none;
  }
  
  .social_icon li a {
    float: left;
    padding: 5px 10px;
    color: #ffffff;
    font-size: 22px;
    width: auto;
    margin-top: 10px;
  }
  
  .social_icon li a:hover {
    color: #f5a738;
  }
  
  .update_mail {
    color: #bbbbbb;
    width: 100%;
    height: 55px;
    font-size: 18px;
    padding: 10px 20px 0px 0px;
    background-color: transparent;
    border-bottom: 1px solid #bbbbbb !important;
    border: 0px;
    margin: 0 auto;
    justify-content: center;
    align-items: center;
    display: block;
  }
  
  textarea#comment::placeholder {
    color: #bbbbbb;
  }
  
  .subscribe_bt {
    width: 140px;
    float: left;
  }
  
  .subscribe_bt a {
    width: 100%;
    float: left;
    color: #f5a738;
    font-size: 20px;
    padding: 10px 0px;
    text-transform: uppercase;
    font-weight: bold;
  }
  
  .subscribe_bt a:hover {
    color: #ffffff;
  }
  
  /* footer section end */
  
  
  
  
  
  
  
  
  /* copyright section start */
  
  .copyright_section {
    width: 100%;
    float: left;
    background-color: #1d1d1d;
    height: auto;
  }
  
  .copyright_text {
    width: 100%;
    float: left;
    font-size: 16px;
    margin: 15px 0px;
    color: #ffffff;
    text-align: center;
  }
  
  .copyright_text a {
    color: #ffffff;
  }
  
  .copyright_text a:hover {
    color: #f5a738;
  }
  
  
  /* copyright section end */
  
  

  







  .select-menu{
    width: 250px;
    cursor: pointer;
    position: relative;
    margin-left: 450px;
    margin-top: 75px;
  }
  
  .select{
    background-color:#fdfdfd86;
    padding: 20px;
    color: #000000;
    height: 15px;
    border-radius: 20px;
    font-size: 21px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-family: 'Times New Roman', Times, serif;
  }
  
  .options-list{
    position: absolute;
    width: 100%;
    background-color: #ecd5d5;
    border-radius: 6px;
    margin-top: 14px;
    padding: 0 ;
    max-height: 180px;
    overflow-y: auto;
    transition: .4s linear .1s;
    height: 0;
    z-index: 1;
  }
  
  .option{
    padding: 8px 10px;
    font-weight: 500;
    font-size: 20px;
    transition: .2s ease-in-out;


   
  }
  
  .option:hover,
  .option.selected{
    color: #00a8ff;
    background-color: #f3e0e0ec;
    
  }
  
  .options-list::-webkit-scrollbar{
    width: 4px;
    background-color: #eee;
  }
  
  .options-list::-webkit-scrollbar-thumb{
    background-color: #00a8ff;
  }
  
  .options-list.active{
    height: 180px;
  }
